.faq_question {
  padding: 80px;
  background: #f9f8ff;
  margin-top: 30px;

  .section_title {
    text-align: center;
    h5 {
      border-radius: 8px;
      background: #ebe7ff;
      color: #583dd6;
      display: inline-block;
      padding: 5px 15px;
      text-align: center;
      color: #583dd6;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px; /* 150% */
    }
    h2 {
      color: #13287e;
      text-align: center;
      font-family: Poppins;
      font-size: 30px;
      font-style: normal;
      font-weight: 600;
      line-height: 42px; /* 140% */
      text-transform: capitalize;
      margin-bottom: 7px;
      margin-top: 5px;
    }
    p {
      color: #888;
      text-align: center;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px; /* 200% */
      width: 514px;
      margin: auto;
      margin-bottom: 50px;
    }
  }
}

.faq_question .accordion button {
  background-color: #896eff;
  color: #fff;
  border-radius: 3px;
  box-shadow: none;
}
.accordion-button::after {
  display: none;
}
.faq_question .accordion button:active {
  background-color: #896eff;
  color: #fff;
  border-radius: 3px;
}
.faq_question .accordion-body {
  // background-color: transparent;
  color: black;
  border-radius: 8px;
  padding: 25px 23px;
  color: #888;
  text-align: justify;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 200% */
  margin-bottom: 15px;
}

// responsive
@media (min-width: 320px) and (max-width: 575.98px) {
  .faq_question {
    padding: 30px;
    .section_title {
      h2 {
        font-size: 25px;
      }

      p {
        width: auto;
      }
    }
    .img {
      img {
        height: 260px;
        width: 250px;
        object-fit: cover;
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
  }
}
// responsive
