.servicess {
  padding: 90px;
  background-color: #9981ff;
  .service_bannar {
    text-align: center;
    h1 {
      font-size: 50px;
      color: #fff;
    }
  }
}

// responsive

@media (min-width: 320px) and (max-width: 575.98px) {
  .servicess {
    padding: 55px;
    .about_bannar {
      h1 {
        font-size: 40px;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 575.98px) {
  .servicess {
    padding: 65px;
  }
}
// responsive
