.working {
  padding: 80px;
  background: #f9f8ff;

  .section_title {
    text-align: center;
    h5 {
      border-radius: 8px;
      background: #ebe7ff;
      color: #583dd6;
      display: inline-block;
      padding: 5px 15px;
      text-align: center;
      color: #583dd6;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px; /* 150% */
    }
    h2 {
      color: #13287e;
      text-align: center;
      font-family: Poppins;
      font-size: 30px;
      font-style: normal;
      font-weight: 600;
      line-height: 42px; /* 140% */
      text-transform: capitalize;
      margin-bottom: 7px;
      margin-top: 5px;
    }
    p {
      color: #888;
      text-align: center;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px; /* 200% */
      width: 514px;
      margin: auto;
      margin-bottom: 55px;
    }
  }
  .item {
    border-radius: 10px;
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.11);
    padding: 36px 20px;
    text-align: center;
    background-color: #fff;
    transition: 0.4s;
    transform: translateY(0);
    &:hover {
      transform: translateY(-7px);
    }
    img {
      height: 200px;
      width: 350px;
    }

    h3 {
      color: #354168;
      font-family: Poppins;
      font-size: 26px;
      font-style: normal;
      font-weight: 500;
      line-height: 25.2px; /* 140% */
      text-transform: capitalize;
      margin-top: 26px;
      margin-bottom: 20px;
    }
    p {
      color: #888;
      font-family: Poppins;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 23.8px; /* 170% */
      width: 320px;
      margin: auto;
    }
  }
}
// responsive
@media (min-width: 320px) and (max-width: 575.98px) {
  .working {
    padding: 45px 10px;

    .section_title {
      h2 {
        line-height: 40px;
        font-size: 29px;
      }
      p {
        width: auto;
        line-height: 30px;
      }
    }

    .item {
      padding: 0px 10px;
      .img {
        img {
          height: 240px;
          width: 250px;
          object-fit: contain;
        }
      }
      h3 {
        font-size: 23px;
        line-height: 30.2px;
        margin-top: 0;
        margin-bottom: 13px;
      }
      p {
        width: auto;
        margin-bottom: 25px;
        padding-bottom: 30px;
        line-height: 25px;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .working {
    .section_title {
      h2 {
        line-height: 42px;
        font-size: 32px;
      }
      p {
        width: auto;
      }
    }
    .item {
      margin-bottom: 25px;
    }
  }
}

@media (min-width: 767px) and (max-width: 991.98px) {
  .working {
    .item {
      margin-bottom: 25px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .working {
    .item {
      .img {
        img {
          height: 150px;
          width: 200px;
          object-fit: contain;
        }
      }
      h3 {
        margin-top: 10px;
        margin-bottom: 15px;
        font-size: 25px;
      }
      p {
        width: auto;
      }
    }
  }
}
// responsive
