*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}


img{
    vertical-align: middle;
}
body{
    font-family: 'Poppins', sans-serif;
}
ul{
    margin: 0;
    padding: 0;
}